<%- include('includes/header') %>

<div class="center">
    <h1>Lexical Density</h1>
    <form method="post" action="/posttext">
        <textarea 
            name="text"
            type="text"
            cols="10" 
            rows="5" 
            class="text" 
            id="writtenText" 
            >
        </textarea>
        <input type="submit" name="posttext">
    </form>
    <form method="get" action="/getdb">
        <input type="submit" name="getdb"> Get Results
    </form>     
</div>

<%- include('includes/footer') %>