<%- include('includes/header') %>

<div class="center">
    <h1>Lexical Density</h1>
    <form method="post" action="/posttext">
        <textarea 
            name="text"
            type="text"
            cols="10" 
            rows="5" 
            class="text" 
            id="writtenText" 
            >
        </textarea><br><br>
        <input type="submit" name="posttext"> Input Text
    </form><br><br>
    <form method="get" action="/complexity">
        <input type="submit" name="complex"> Complexity
    </form><br><br>
    <form method="get" action="/verbose">
        <input type="submit" name="verbose"> Complexity Verbose
    </form>       
</div>

<%- include('includes/footer') %>